.mainControls {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #646464;
  background: #282c34;
  width: 100%;
  top: 50px;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}

.apiRequestControls {
  display: flex;
}

.executeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #0078d4;
  color: #ffffff;
}

.executeButton:hover {
  opacity: 0.8;
}

.closingButton {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: solid 1px #999999;
  line-height: 32px;
  cursor: pointer;
  background: linear-gradient(#fdfdfd, #d2d3d6);
  margin-left: 10px;
  font-weight: bold;
  color: #457c8b;
}

.closingButton:hover {
  opacity: 0.8;
}

.inputUrlApi {
  background: #282c34;
  border: 1px solid #646464;
  width: 350px;
  height: 30px;
  color: #989898;
  padding: 0 5px;
}

.inputUrlApi:focus {
  outline: 1px solid #989898;
  border: none;
}

.active {
  background: #646464;
}
