/* .variablesAndHeadersWrapper {
  height: 100%;
  overflow: auto;
  position: relative;
}

.variablesAndHeadersCode {
  padding-top: 40px;
  height: 100%;
}

.variablesAndHeadersMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #282c34;
}

.menuBtn {
  color: #989898;
  background: none;
  border: none;
  border-bottom: 2px solid #282c34;
}

.menuBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.menuBtn.active {
  color: #ffffff;
  opacity: 1;
  border-bottom: 2px solid #0078d4;
}

.temp {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 10px;
}
 */

.variablesAndHeadersCode {
  padding-top: 40px;
  height: 100%;
}
