.main {
  display: flex;
  justify-content: center;
  /* background: #90bac7; */
  background: linear-gradient(541deg, #0d5c71ab, #20a6c9a3);
  min-height: calc(100vh - 200px);
  color: #ffffff;
}

.main h1 {
  text-align: center;
}
